@charset "UTF-8";

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Inter/Inter-SemiBold.woff2') format('woff2');
}

:root {
    --surface-0: white;
    --surface-1: rgb(240 240 242);
}

body {
    background-color: var(--surface-1);
    box-sizing: border-box;
    font-size: 15px;
    font-family: Inter;
    margin: 0;
    max-width: 540px;
    min-width: 300px;
    padding: 0;
}
body.loading {
    visibility: hidden;
}

h2 {
    align-items: center;
    background: rgb(179 198 250 / 15%);
    display: flex;
    font-size: 100%;
    font-weight: normal;
    justify-content: center;
    margin: 0;
    min-height: 3em;
}
h2 > span:first-of-type {
    opacity: 60%;
}

main {
}

main section#summary {
    font-size: large;
    padding: 1em;
    text-align: center;
}

main section.outcome {
    line-height: 1.6;
}

main section.outcome h3 {
    border-top: 1px solid var(--surface-1);
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 2px 0.5em;
}

main section.outcome:is(.allowed) h3 {
    background-color: rgba(0 255 0 / 0.1);
}

main section.outcome:is(.stealth,.blocked) h3 {
    background-color: rgba(255 0 0 / 0.1);
}

main section.outcome:has(.domains:empty) {
    display: none;
}

main section.outcome .row {
    column-gap: 0.25em;
    display: flex;
    white-space: nowrap;
}

main section.outcome .row:nth-of-type(2n+2) {
    background-color: rgba(128 128 128 /0.05);
}

main section.outcome .domains .row .badge {
    flex-shrink: 0;
    width: 0.5em;
}

main section.outcome:is(.allowed) .domains .row .badge {
    background-color: rgba(0 255 0 / 0.05);
}

main section.outcome:is(.stealth,.blocked) .domains .row .badge {
    background-color: rgba(255 0 0 / 0.05);
}

main section.outcome .domains .row .domain {
    flex-grow: 1;
    overflow-x: auto;
    text-align: right;
    white-space: nowrap;
}

main section.outcome .domains .row .count {
    width: 4ch;
    text-align: right;
}