@charset "UTF-8";

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Inter/Inter-SemiBold.woff2') format('woff2');
}

:root {
    --surface-0: white;
    --surface-1: rgb(240 240 242);
    --ink-0: black;
    --ink-1: rgb(32 18 58);
    --section-header-opacity: 0.1;
    --section-badge-opacity: 0.05;
    --registry-row-opacity: 0.05;
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface-0: black;
        --surface-1: rgb(27 27 35);
        --ink-0: white;
        --ink-1: rgb(240 240 242);
        --section-header-opacity: 0.3;
        --section-badge-opacity: 0.2;
        --registry-row-opacity: 0.2;
    }
}

body {
    background-color: var(--surface-1);
    box-sizing: border-box;
    color: var(--ink-1);
    font-size: 15px;
    font-family: Inter;
    margin: 0;
    padding: 0;
    width: 340px;
}
html.safari body {
    width: max(340px, 100vw);
}

html:not(.safari) body.fitViewport {
    max-width: 100vw;
    min-width: 100vw;
}
body.loading {
    visibility: hidden;
}

h2 {
    align-items: center;
    background: rgb(179 198 250 / 15%);
    display: flex;
    font-size: 100%;
    font-weight: normal;
    justify-content: center;
    margin: 0;
    min-height: 3em;
}
h2 > span:first-of-type {
    opacity: 60%;
}

main {
}

main section#summary {
    font-size: large;
    padding: 1em;
    text-align: center;
}

main section[data-outcome] {
    line-height: 1.6;
}

main section[data-outcome] h3 {
    border-top: 1px solid var(--surface-1);
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 2px 0.5em;
    text-align: center;
}

main section[data-outcome="allowed"] h3 {
    background-color: rgba(0 255 0 / var(--section-header-opacity));
}

main section:is([data-outcome="stealth"],[data-outcome="blocked"]) h3 {
    background-color: rgba(255 0 0 / var(--section-header-opacity));
}

main section[data-outcome]:has(.domains:empty) {
    display: none;
}

main section[data-outcome] [data-domain] {
    column-gap: 0.25em;
    display: flex;
    flex-wrap: nowrap;
}

main section[data-outcome] [data-domain]:nth-of-type(2n+2) {
    background-color: rgba(128 128 128 / var(--registry-row-opacity));
}

main section[data-outcome] [data-domain] .badge {
    flex-shrink: 0;
    padding-inline-end: 2px;
    width: 0.5em;
}

main section[data-outcome="allowed"] [data-domain] .badge {
    background-color: rgba(0 255 0 / var(--section-badge-opacity));
}

main section:is([data-outcome="stealth"],[data-outcome="blocked"]) [data-domain] .badge {
    background-color: rgba(255 0 0 / var(--section-badge-opacity));
}

main section[data-outcome] [data-domain] .domain {
    flex-grow: 1;
    text-align: right;
    word-break: break-all;
}

main section[data-outcome] [data-domain] .count {
    width: 4ch;
    text-align: right;
}

main section[data-outcome] [data-domain][data-expanded="0"] + .urls {
    display: none;
}

main section[data-outcome] .expander {
    white-space: nowrap;
}

main section[data-outcome] [data-expanded="0"] .expander::after {
    content: '+\2002\2002';
}

main section[data-outcome] [data-expanded="1"] .expander::after {
    content: '\2212\2002\2002';
}

.urls {
    border-bottom: 1px solid gray;
    font-size: smaller;
    list-style: none;
    margin-block: 0;
    overflow-x: auto;
    padding-inline-start: 0.25em;
    white-space: pre;
}

.urls .type {
    color: gray;
    display: inline-block;
    text-align: left;
    width: 4ch;
}

.urls a.url {
    color: inherit;
    text-decoration: none;
}

.urls a.url .domain {
    color: gray;
}
